.search-bar {
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 16px;
}

.card {
  text-align: center;

  :global {
    .ant-card-body {
      padding: 12px 6px;
    }

    .anticon {
      font-size: 26px;
      margin-bottom: 12px;
    }

    .ant-card-meta-description {
      font-size: 12px;
    }
  }
}
